<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flhan.de.financemanager">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="flhan.de.financemanager.ui.login.LoginActivity" />
        <activity
            android:name="flhan.de.financemanager.ui.login.createjoinhousehold.create.CreateHouseholdActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="flhan.de.financemanager.ui.login.createjoinhousehold.join.JoinHouseholdActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="flhan.de.financemanager.ui.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="flhan.de.financemanager.ui.main.MainActivity" />
        <activity
            android:name="flhan.de.financemanager.ui.main.expenses.createedit.CreateEditExpenseActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>